{% extends 'inicio/encabezado.html' %}

{% block titulo %}
<h1>Contactanos</h1>
{% endblock titulo %}

{% block imagen %}
{% load static %}
{%static 'inicio/imagenes/home.png' %}
{% endblock  %}
{% block encabezado %}
<div class="page-header">
    <div class="page-title">
        <h3>Contactanos
        <small>Ingresa tu información</small></h3>
    </div>

    
    
</div>
{% endblock  %}
{% block contenido %}



     <!--Encabezdo -->
     
     <!-- /Encabezado-->
 
     <!-- Formulario -->
     <form class="form-horizontal" action="#" role="form">
         <div class="panel panel-default">
             <div class="panel-body">
 
                 <div class="form-group">
                     <label class="col-sm-2 control-label text-right">Nombre:</label>
                     <div class="col-sm-10">
                         <input type="text" class="form-control">
                     </div>
                 </div>
                 
                 <div class="form-group">
                     <label class="col-sm-2 control-label text-right">Correo:</label>
                     <div class="col-sm-10">
                         <input type="text" class="form-control">
                     </div>
                 </div>

                 <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Contacto:</label>
                    <div class="col-sm-10">
                        <input type="text area" class="form-control">
                    </div>
                </div>
                 
                 <div class="form-group">
                     <label class="col-sm-2 control-label text-right">Turno:</label>
                     <div class="col-sm-10">
                         <input type="radio" name="turno" class="styled" checked="checked"> Matutino
                                     <input type="radio" name="turno" class="styled"> Vespertino
                     </div>
                 </div>
                 
                 <div class="form-actions text-right">
                     <input type="submit" value="Enviar" class="btn btn-primary">
                 </div>
 
             </div>
         </div>
     </form>
 <!-- Fin del Formulario -->
 

    {% endblock  %}